.center {
    text-align: center;
    padding: 10px;
}

.address {
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width:100%;
    max-width:305px;
}

.invalidAddress {
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width:100%;
    max-width:305px;
    background: url("/public/error.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
}

.calculate-score-button {
    margin: 15px 0;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    background-color: #4d4d4d;
    color: #FFFAFA;
    border-width: 0;
    font-weight: 600;
    cursor: pointer;
}

.calculate-score-button:hover {
    background-color: #333333;
}

.calculate-score-button:active {
    background-color: #111111;
}